/* RESET */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "PT Serif", serif;
}

body.no-scroll {
 overflow: hidden;
}

/* HEADER SECTION */
.header {
 min-height: 100vh;
 width: 100%;
background-image: linear-gradient(rgba(164, 155, 155, 0.212), rgba(164, 155, 155, 0.212)),
                   url(/images/Asian.png);
 background-position: center;
 background-size: cover;
 position: relative;
}

/* NAVBAR */
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 6%;
}

.logo {
 display: flex;
 align-items: center;
 text-decoration: none;
}

.logo img {
 width: 90px;
 height: auto;
 margin-right: 10px;
}

.logo span {
 font-size: 20px;
 color: #fff;
 font-weight: bold;
}

/* Desktop Nav Links */
.nav-links ul {
 display: flex;
 gap: 25px;
 list-style: none;
}

.nav-links ul li a {
 color: #fff;
 text-decoration: none;
 font-size: 14px;
 transition: 0.3s;
}

.nav-links ul li a:hover {
 color: #f44336;
}

/* MOBILE NAV */
nav .menu-icon {
 display: none;
 font-size: 25px;
 color: #fff;
 cursor: pointer;
}

.nav-links {
 position: static;
}

.close-icon {
 display: none;
}

/* HERO TEXT */
.text-box {
 width: 90%;
 color: #fff;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

.text-box h1 {
 font-size: clamp(26px, 6vw, 62px);
}

.text-box p {
 margin: 15px 0 40px;
 font-size: 15px;
}

.hero-btn {
 padding: 12px 34px;
 border: 1px solid #fff;
 color: #fff;
 text-decoration: none;
 transition: 0.3s;
}

.hero-btn:hover {
 background: #f44336;
 border-color: #f44336;
}

nav i.fa-xmark {
    display: none;
}


/* ===========================
   MOBILE RESPONSIVE
   =========================== */
@media (max-width: 700px) {

 /* Slide-out Nav */
 .nav-links {
   position: fixed;
   right: -220px;
   top: 0;
   background: #f44336;
   height: 100%;
   width: 220px;
   padding-top: 70px;
   transition: 0.3s;
   z-index: 999;
 }

 .nav-links.show {
   right: 0;
 }

 .nav-links ul {
   flex-direction: column;
   padding-left: 20px;
 }

 .nav-links ul li {
   padding: 15px 0;
 }

 /* menu icon */
 nav .menu-icon {
   display: block;
 }

 /* close icon */
 .close-icon {
   position: absolute;
   top: 25px;
   left: 20px;
   display: block;
   font-size: 25px;
   color: #fff;
   cursor: pointer;
 }
 .nav-links.show i.fa-xmark {
    display: block;
    position: absolute;
    top: 25px;
    left: 20px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

}
